<p id="notice"><%= notice %></p>

<div id="books">
  <h2>Current Book Assignments for <%= @year %></h1>
  <div class="table">
    <table class="book_table">
    <tr>
      <th class="description">Book</th>
      <th class="need">Number still needed</th>
      <th class="bringing">Currently bringing</th>
    </tr>
    <%= render partial: "book", collection: @books, general: true %>
    </table>
  </div> <!-- table -->
