<% #The edit table for the requested counts of books for an event %>
  <div class="table">
    <%= react_component("event_count_table",
       caption: "Book Assignments for #{@event.name}",
       assignments: @event.book_assignments) %>
  </div>
