<%= javascript_pack_tag 'application' %>

<p id="notice"><%= notice %></p>

<div id="books">
  <h2></h1>
  <div class="table">
    <%= react_component("BookAssignmentTable",
       caption: "Current Book Assignments for #{@year}",
       assignments: @book_assignments) %>
  </div>
