<%= javascript_pack_tag 'application' %>

<p id="notice"><%= notice %></p>

<div id="books">
  <h2>Current Book Assignments for <%= @year %></h1>
  <div class="table">
    <%= react_component("BookAssignmentTable", assignments: @book_assignments) %>
  </div>
