<h1>Editing Event Assignment Set</h1>

<%= render 'form', event_assignment_set: @event_assignment_set %>

<%= link_to 'Show', @event_assignment_set %> |
<%= link_to 'Back', event_assignment_sets_path %>
