$color-primary-0: #6AE05E;  // Main Primary color */
$color-primary-1: #BAF7B4;
$color-primary-2: #8EEC84;
$color-primary-3: #4DD23F;
$color-primary-4: #2DBF1E;

$color-secondary-1-0: #FFFD6B;  // Main Secondary color (1) */
$color-secondary-1-1: #FFFEBA;
$color-secondary-1-2: #FFFE8F;
$color-secondary-1-3: #FFFD4C;
$color-secondary-1-4: #E9E725;

$color-secondary-2-0: #5E82C5;  // Main Secondary color (2) */
$color-secondary-2-1: #B5CAF0;
$color-secondary-2-2: #84A3DC;
$color-secondary-2-3: #3F65AC;
$color-secondary-2-4: #254F9B;

$color-complement-0: #FC6971; // Main Complement color */
$color-complement-1: #FEB9BD;
$color-complement-2: #FD8E93;
$color-complement-3: #FB4B54;
$color-complement-4: #E5242E;