$light-color: #fffff0;
$dark-color: #2b5d0f;
$dark-text-color: #333;
$outer-margin: 2em;
$light-link-color: gold;

body {
  background-color: $light-color;
  color: $dark-text-color;
  margin: $outer-margin;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.85em;
  line-height: 1.5em;
}

$banner-height: 5em;
#banner {
  background-color: $dark-color;
  color: $light-color;
  width: 100%;
  display: block;
  position: relative;
  h1 {
    padding: 0 1em;
    margin: 0;
    line-height: ($banner-height / 2) + 1em;
  }
  a {
    color: $light-link-color;
    
    &:visited {
      color: $light-link-color;
    }
    
    &:hover {
      color: $light-color;
      background-color: $dark-color;
    }
  }
}

#user {
  position: absolute;
  right: 1em;
  top: 0;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 0.9em;
  font-size: 0.8em;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 0.35em;
}

td {
  padding: 0 0.35em 0.51em;
}

div {
  &.field, &.actions {
    margin-bottom: 0.75em;
  }
}

#notice {
  color: green;
}

.actions input {
  background: $dark-color;
  color: $light-link-color;
  
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
